<div id="post-19" class="post">
  <div class="postheader">
    <div class="commentcount" style="width: 78px;">
      <a href="#">
        <div style="border: 1px solid gray; width: 64px;">
        <%= image_tag 'boleto_bradesco.jpg', :width => 64 %>
      </div>
    </a>
  </div>
  <div class="posttitle" >
    <h2><a href="http://www.bradesco.com.br">Banco Bradesco - 237</a></h2>
    <span class="postmeta">
      <a href="/docs/Documentacao_Bradesco.zip">Especificação</a> |  Homologado </span>
    </div>
  </div>
  <div class="postcontent">
    <%= render :partial => "form", :locals => {:banco => 'bradesco'} %>
  </div>
</div>
