<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<meta content="index,follow" name="robots"/>
<meta content="7 Days" name="revisit-after"/>

<title>	BR Cobrança	</title>
<%= stylesheet_link_tag 'screen'  %>
<!--[if IE]>
<%= stylesheet_link_tag 'ie' %>
<![endif]-->
<%= stylesheet_link_tag 'style' %>
<!--[if lt IE 7]>
	<link rel="stylesheet" href="http://wp-themes.com/wp-content/themes/corporate/css/ielt7.css" type="text/css" media="screen, projection" />
	<![endif]-->

</head>