<div id="post-19" class="post">
	<div class="postheader">
		<div class="commentcount" style="width: 78px;">
			<a href="#">
				<div style="border: 1px solid gray; width: 64px;">
					<%= image_tag '/images/thumb_itau.png', :width => 64 %>
				</div>
			</a>
		</div>
		<div class="posttitle" >
			<h2><a href="http://www.itau.com.br">Banco Itaú - 341</a></h2>
			<span class="postmeta"><a href="#">Especificação</a> |  Homologado </span>
		</div>
	</div>
	<div class="postcontent">
		<%= render :partial => "form", :locals => {:banco => 'itau'} %>
	</div>
</div>