<div id="post-19" class="post">
	<div class="postheader">
		<div class="commentcount" style="width: 78px;">
			<div style="border: 1px solid gray; width: 64px;">
				<%= image_tag '/images/thumb_real.png', :width => 64 %>
			</div>
		</div>
		<div class="posttitle" >
			<h2><a href="http://www.bb.com.br">Banco Real - 356</a></h2>
			<span class="postmeta">
				<a href="/docs/Documentacao_Real.zip">Especificação</a> |  Em Homologação </span>
			</div>
		</div>
		<div class="postcontent">
			<%= render :partial => "form", :locals => {:banco => 'real'} %>
		</div>
	</div>
