<div class="span-24" id="footer">
<div class="span-22 prepend-1 last">Ruby on Rails - Brazilian Community | Theme design by <a href="http://www.oripearl.com/">Ori Pearl</a></div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-576056-45");
pageTracker._trackPageview();
} catch(err) {}</script>