<div id="post-19" class="post">
  <div class="postheader">
    <div class="commentcount" style="width: 78px;">
        <div style="border: 1px solid gray; width: 64px;">
          <%= image_tag 'thumb_sicoob.jpg', :width => 64 %>
        </div>
    </div>
    <div class="posttitle" >
      <h2><a href="http://www.sicoob.com.br">Banco Sicoob - 756</a></h2>
      <span class="postmeta">Homologado</span>
    </div>
  </div>
  <div class="postcontent">
    <%= render :partial => "form", :locals => {:banco => 'sicoob'} %>
  </div>
</div>