<div class="span-5 append-1 last" id="sidebar">
	<div id="wrapbox">
		<div class="sidebarbox">
			<h3>Autor</h3>
			<ul>
				<li><a title="Autor" href="http://www.kivanio.com.br" target="_blank">Kivanio Barbosa</a></li>
			</ul>
		</div>
		<div class="sidebarbox">
			<h3>Colaboradores</h3>
			<ul>
				<li><a title="Shairon Toledo" href="http://www.hashcode.eti.br" target="_blank">Shairon Toledo</a></li>
				<li><a title="Claudio Pozzebon" href="http://www.kraudio.com.br" target="_blank">Claudio Pozzebon</a></li>
			</ul>
		</div>
		<div class="sidebarbox">
			<h3>Documentação</h3>
			<ul>
				<li><a title="Site" href="http://brcobranca.rubyforge.org" target="_blank">Site</a></li>
				<li><a title="Rdoc" href="http://brcobranca.rubyforge.org/rdoc" target="_blank">Rdoc</a></li>
				<li><a title="Wiki" href="http://wiki.github.com/kivanio/brcobranca" target="_blank">Wiki</a></li>
			</ul>
		</div>
		<div class="sidebarbox">
			<h3>Requer</h3>
			<ul>
				<li><a title="Ruby" href="http://www.ruby-lang.org/pt" target="_blank">Ruby(claro)</a></li>
				<li><a title="RGhost" href="http://github.com/shairontoledo/rghost-barcode/wikis" target="_blank">RGhost</a></li>
				<li><a title="RGhost Barcode" href="http://github.com/shairontoledo/rghost-barcode/wikis" target="_blank">RGhost Barcode</a></li>
				<li><a title="PostScript" href="http://pt.wikipedia.org/wiki/PostScript" target="_blank">PostScript</a></li>
			</ul>
		</div>
	</div>
</div>