<!-- posts  -->
<div class="span-16 prepend-1 append-1" id="posts">
<%= render :partial => "bb" %>
<%= render :partial => "itau" %>
<%= render :partial => "hsbc" %>
<%= render :partial => "real" %>
</div>