/* For old browsers that can't render png with alpha channel */

#contenttop
{
	background: transparent url('topbg-ns.gif') no-repeat 0 0;
}

#contentwrapper
{
	background: transparent url('contentbg-ns.gif') repeat-y 0 0;
}

#footer
{
	background: url('bottombg-ns.gif') no-repeat 0 0;
}

#introicon
{
	display: none;
}