<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr"><head profile="http://gmpg.org/xfn/11">


    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="index,follow" name="robots"/>
    <meta content="7 Days" name="revisit-after"/>

    <title>	BR Cobrança	</title>
    <%= stylesheet_link_tag 'screen'  %>
    <!--[if IE]>
<%= stylesheet_link_tag 'ie' %>
  <![endif]-->
  <%= stylesheet_link_tag 'style' %>
    <!--[if lt IE 7]>
    <link rel="stylesheet" href="http://wp-themes.com/wp-content/themes/corporate/css/ielt7.css" type="text/css" media="screen, projection" />
  <![endif]-->

  </head>
  <body>
    <div class="container">
    <div class="span-24" id="top">
      <div class="span-24" id="contenttop"/></div>
      <div class="menu">

      </div>
    </div>
    <div class="span-24" id="contentwrapper">
      <div class="span-22 prepend-1 append-1" id="header">
        <div class="span-15 prepend-1" id="title">
          <br/>
          <br/>
          <div >
            <h1>BR Cobrança</h1>
            <h2>Boletos </h2>
          </div>
        </div>
        <div class="span-5 append-1 last" id="searchbar">
          <div class="searchform">
          </div>
        </div>
      </div>


      <%= yield %>


      <div class="span-5 append-1 last" id="sidebar">
        <div id="wrapbox">


          <div class="sidebarbox">
            <h3>Autor</h3>
            <ul>
              <li><a title="October 2008" href="">Kivanio</a></li>
            </ul>
          </div>
          <div class="sidebarbox">
            <h3>Colaboradores</h3>
            <ul>
              <li><a title="October 2008" href="">Foo</a></li>
              <li><a title="October 2008" href="">Caras do mau</a></li>
            </ul>
          </div>
          <div class="sidebarbox">
            <h3>Documentação</h3>
            <ul>
              <li><a title="October 2008" href="">Foo</a></li>
              <li><a title="October 2008" href="">Caras do mau</a></li>
            </ul>
          </div>
          <div class="sidebarbox">
            <h3>Requer</h3>
            <ul>
              <li><a title="October 2008" href="">RGhost</a></li>
              <li><a title="October 2008" href="">Ruby(claro)</a></li>
              <li><a title="October 2008" href="">etc</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- contentwrapper -->
    <div class="span-24" id="footer">
      <div class="span-24"/>
        <div class="span-22 prepend-1 last">Ruby on Rails - Brazilian Community | Theme design by <a href="http://www.oripearl.com/">Ori Pearl</a></div>
      </div>
</body>
</html>